nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    width: 100%;
    text-align: center;
    display: flex;
}
nav a {
    padding: 30px;
    text-decoration: none;
    color: white;
    background-color: black;
}  
nav a:hover {
    background-color: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.navbar-right {
    display: flex;
}
body {
    margin: 0;
}